.page {
    min-height: 100%;
}

.heroSection {
    position: relative;
}

.communitySection {
    position: relative;
    z-index: 1;

    padding-top: 36px;
    padding-bottom: 56px;
}

@media (max-width: 767px) {
    .communitySection {
        padding-top: 28px;
        padding-bottom: 40px;
    }
}
